.dashboard-container {
  /* height: 100vh; */
  /* flex: 1; */
  display: flex;
  flex-direction: row;
}
.dashboard-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}
